#logo {
    width: 200px;
    height: 200px;
    background-image: url('../images/holberton-logo.jpg');
    background-size: 200px 200px;
}

button {
    float: left;
}

#count {
    font-weight: bold;
    float: left;
    margin-left: 10px;
}
